<div
    style="padding:40px; width:794px; height:1127px; font-size:14px;">
    <div
        style="padding:113.386px 75.5906px; width:562.844px; height:164.75px; font-size:14px;">
        <h3
            style="margin:16.38px 0; width:562.844px; height:20px; font-size:16.38px; font-weight:700; text-align:center;">
            KWITANSI
        </h3>
        <table style="width:562.844px; height:112px; font-size:14px;">
            <tbody style="vertical-align:middle;">
                <tr style="vertical-align:middle;">
                    <td
                        style="padding:6px; width:93.2031px; height:100px; vertical-align:top;">
                        Telah diterima dari<br>Uang sejumlah<br>Untuk Pembayaran
                    </td>
                    <td
                        style="padding:6px; width:445.641px; height:100px; vertical-align:top;">
                        : wqwqwqewq<br>: Satu Miliar Dua Ratus Tiga Puluh Empat Juta Lima Ratus Enam Puluh Tujuh Ribu Delapan Ratus Sembilan Puluh Sembilan<br>: wqeqwwq
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <strong style="font-size:14px; font-weight:700;">Rp. 1.234.567.899</strong>

    <div style="margin-top:20px; width:714px; height:138px; font-size:14px;">
        <div id="bendahara-text-block"
            style="display:flex; margin-top:20px; width:714px; height:138px; justify-content:space-between; align-items:flex-start; font-size:14px;">
            <div style="width:164.938px; height:135px; font-size:14px;">
                <span style="font-size:13px;">Lunas dibayar : 10 April 2023</span><br>
                Setuju dibayar,<br>
                Kepala SMK Negeri 1 Talaga<br>
                <div style="margin-top:50px; width:164.938px; height:34px; font-size:14px;">
                    <strong style="text-decoration:underline;">UDIN WAHYUDIN, S.IP., M.Si</strong><br>
                    NIP. 19650705 198903 1 017
                </div>
            </div>
            <div id="right-bendahara-section"
                style="margin-right:50px; width:216.844px; height:138px; font-size:14px;">
                <span style="font-size:13px;">Tanggal Pemesanan : 5 April 2023</span><br>
                <p style="font-size:14px; margin-top:20px; margin-bottom:0;">Bendahara BOS</p>
                <div style="margin-top:50px; margin-bottom:0;">
                    <strong style="text-decoration:underline;">KUKUN ZAYYAN KURNIA, S.Pd., M.Pd.</strong><br>
                    NIP. 19841029 200901 1 002
                </div>
            </div>
        </div>
    </div>
</div>
